*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background: #c1c1c1;
}

.not-found{
    color: red;
    text-align: center;
    margin-top: 50px;
} */

header{
    width: 100%;
    padding: 15px;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
}
footer , header > *{
    width: 100%;
    text-align: center;
}

.main-wrapper{
    width: 100%;
    display: flex;
}
.main-wrapper > article{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
}
ul > li{
    list-style: none;
}

.post-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    padding: 20px;
}

.posts-list{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}
.posts-list > li{
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    border-bottom: 1px solid orange;
    width: 100%;
    
}
